body {
	background-color: #ddf;
}

header {
	background-color: #bbf;
	height: 30px;
	margin: 5px;
	padding: 5px;
	color: white;
	font-size: large;
}

nav,
footer {
	background-color: #aaf;
	margin: 5px;
	padding: 5px;
	color: white
}

nav a {
	padding-right: 10px;
	text-decoration: none;
	color: white;
	border: 1px solid white;
	padding: 5px;
	margin: 5px;
	display: inline-block;
}

nav a:hover {
	background-color: white;
	color: #aaF;
	
}

section {
	min-height: 200px;
	margin: 5px;
	padding: 5px;
}

section#main {
	background-color: #0D0;
}





